[submodule "References/AstarLibrary"]
	path = References/AstarLibrary
	url = https://github.com/IchiSamaFR/AstarLibrary.git
[submodule "References/HtmlScraperLibrary"]
	path = References/HtmlScraperLibrary
	url = https://github.com/IchiSamaFR/HtmlScraperLibrary.git
[submodule "References/PasswordLibrary"]
	path = References/PasswordLibrary
	url = https://github.com/IchiSamaFR/PasswordLibrary.git
[submodule "References/PsychonautJournalLibrary"]
	path = References/PsychonautJournalLibrary
	url = https://github.com/IchiSamaFR/PsychonautJournalLibrary.git
